#newTask_errors {
	background-color: #F0F0F0;
	padding-top: 5px;
	padding-bottom: 5px;	
	color: #C00;
	font-weight: bold;
}

#newTask_loading {
	clear: both;
	margin-top: 20px;
	text-align: center;
}

#newTask_saved {
	clear: both;
	margin-top: 20px;
	text-align: center;
}

#dialogAddTask input {
	padding: 2px;
}

#dialogAddTask select {
	padding-top: 1px;
	padding-bottom: 1px;
}

#dialogChooseColor input {
	padding: 2px;
}

#dialogChooseColor .left {
	float: left;
	margin-right: 10px;
}

#dialogChooseColor .right {
	float: left;
}

#chooseColor_errors {
	background-color: #F0F0F0;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	color: #C00;
	font-weight: bold;
}

#chooseColor_saved {
	clear: both;
	margin-top: 20px;
	text-align: center;
}

/* jQuery */
.ui-autocomplete {
	max-height: 380px;
	overflow-y: auto;
}

/* Color Chooser */
.farbtastic {
  position: relative;
}
.farbtastic * {
  position: absolute;
  cursor: crosshair;
}
.farbtastic, .farbtastic .wheel {
  width: 195px;
  height: 195px;
}
.farbtastic .color, .farbtastic .overlay {
  top: 47px;
  left: 47px;
  width: 101px;
  height: 101px;
}
.farbtastic .wheel {
  background: url(../img/farbtastic/wheel.png) no-repeat;
  width: 195px;
  height: 195px;
}
.farbtastic .overlay {
  background: url(../img/farbtastic/mask.png) no-repeat;
}
.farbtastic .marker {
  width: 17px;
  height: 17px;
  margin: -8px 0 0 -8px;
  overflow: hidden; 
  background: url(../img/farbtastic/marker.png) no-repeat;
}


/**
 * Alles oberhalb dieser Linie muss ausgelagert werden, da es nicht unmittelbar
 * Teil der Applikation ist, d.h. sich auf Elemente bezieht, die nicht innerhalb
 * der GanttChart.js erzeugt werden.
 * -----------------------------------------------------------------------------
 */
.mkg_container {
	border: 4px solid #F0F0F0;
	shape-rendering: crispEdges;
	overflow: hidden;
	background-color: #F0F0F0;
}

.mkg_wrapper {
	overflow-y: scroll;
	background-color: #FFF;	
}

.mkg_tableHeadline {
	float: left;
	height: 17px;
	padding-top: 2px;
	text-align: center;
	border-color: #5D625A !important;
	border-top: 1px solid #5D625A;
	border-bottom: 1px solid #5D625A;
	border-left: 1px solid #5D625A;
	background-color: #FFF;
}

.mkg_tableCell {
	float: left;
	height: 15px;
	padding-top: 2px;
	padding-bottom: 2px;	
	border-bottom: 1px solid #5D625A;
	border-left: 1px solid #5D625A;
}

.mkg_tableCell.active, .mkg_tableCell.even.active {
	background-color: #5998E1;
	background: -moz-linear-gradient(bottom, #5998E1, #91D8F7);
	background: -webkit-gradient(linear, left top, left bottom, from(#91D8F7), to(#5998E1));
}

.mkg_tableCell.deleted {
	text-decoration: line-through;
	background-color: #CCC;
}
 
.mkg_tableCell.even {
	background-color: #E0E0E0;
}

.mkg_tableCell input {
	font-family: Arial, Helvetica, Verdana;
	font-size: 11px;
	
	margin: 0;
	margin-top: -3px !important;
	padding: 0;
	width: 90%;
	border: 1px dashed #80AFCB;
	cursor: text;
	background: #FFF;
	height: 100%;
}

.mkg_tableCell input[readonly] {
	background: none;
	border: 0;
	cursor: default;
}

.mkg_tableCell img {
	margin-top: -2px;
}

.mkg_controls {
	height: 24px;
	background-color: #5D625A;
	border-bottom: 4px solid #F0F0F0;
	overflow: hidden;
}

.mkg_controls .seperator {
	float: left;
	width: 1px;
	height: 22px;
	border-right: 2px solid #FFF;
	margin-bottom: 1px;
	margin-top: 1px;	
}

.mkg_controls span {
	float: left;
	display: block;
	height: 12px;
	padding: 5px;
	font-weight: bold;
	color: #333;
	margin-top: 1px;
	margin-left: 1px;	
	background: -moz-linear-gradient(bottom, #CCCCCC, #F0F0F0);
	background: -webkit-gradient(linear, left top, left bottom, from(#CCCCCC), to(#F0F0F0));
}

.mkg_controls .left {
	float: left;
}

.mkg_controls .left input {
	float: left;
	margin-top: 1px;
	margin-left: 1px;
	height: 18px; 
}

.mkg_controls .left img {
	float: left;
	margin-top: 1px;
	margin-left: 1px;
	padding: 3px;
	background: -moz-linear-gradient(bottom, #CCCCCC, #F0F0F0);
	background: -webkit-gradient(linear, left top, left bottom, from(#CCCCCC), to(#F0F0F0));
}

.mkg_controls .left img:hover {
	background: -moz-linear-gradient(bottom, #DDDDDD, #FFFFFF);
	background: -webkit-gradient(linear, left top, left bottom, from(#DDDDDD), to(#FFFFFF));	
	cursor: pointer;
}

.mkg_controls .right {
	float: left;
}

#mkg_message {
	height: 14px;
	padding: 4px;
	padding-top: 5px !important;
	-moz-border-radius: 0 0 5px 5px;	
	font-weight: normal;
}

#mkg_message.error {
	color: #E4E4E4;
	font-weight: bold;
	background-color: #D3483A;
	padding: 4px;
}

#mkg_message.notice {
	color: #000;
	background-color: #ffcc33;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.tooltip {
	display:none;
	background:transparent url(../img/black_arrow.png);
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:#fff;	
}

#nodata {
	width: 300px;
	margin: 0 auto;
	margin-top: 100px !important;
	
	text-align: center;
	padding: 50px;

	font-size: 16px;
	background: #F0F0F0;
	border: 4px solid #CCCCCC;
}

#loading {
	font-size: 16px;
	border: 1px dashed #CCC;
	background-color: #FFF;
	padding: 20px;
}